@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}

.done {
    text-decoration: line-through;
}

ul {
    list-style-type: none;
    user-select: none;
}