@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: whitesmoke;
    width: 95%;
    height: 100%;
}

.whole-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    min-height: 25%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.done {
    text-decoration: line-through;
}

ul {
    max-width: 50%;
    list-style-type: none;
    user-select: none;
    font-size: 14px;
    justify-content: center;
    background: white;
}

li {
    padding: 3px;
    margin: 2px;
}

.del-btn {
    background-color: dodgerblue;
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}

.del-btn:hover {
    filter: brightness(95%);
}

#submit-button {
    background-color: firebrick;
    border: none;
    color: white;
    border-radius: 5px;
}

#submit-button:hover {
    filter: brightness(95%);
    box-shadow: 2px rgb(99, 99, 99);
}